{% set NAME = properties['bucketBase'] + env['deployment'] + env['project_number'] %}

resources:
- name: {{ NAME }}
  type: storage.v1.bucket
  properties:
    location: {{ properties['region'] }}
    kind: storage#bucket
    storageClass: {{ properties['storageClass'] }}
    versioning:
      enabled: false
