{% set NAME = env['name'] + env['deployment'] + env['project_number'] %}

resources:
- name: {{ properties['bucketName'] }}
  type: storage.v1.bucket
  properties:
    location: {{ properties['region'] }}
    kind: storage#bucket
    storageClass: {{ properties['storageClass'] }}
    versioning:
      enabled: false

outputs:
  - name: storageBucket
    value: $(ref.{{ properties['bucketName'] }}.name)
